/* LIKED ITEMS COMPONENT */

.empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 20rem;
}

.empty h3 {
  text-align: center;
}

.wishlist-products {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  width: 95vw;
  padding: 3rem;
  background: rgba(218, 216, 216, 0.6);
  margin: 20rem 0 10rem;
  max-width: 1200px;
}

.wishlist-card {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 1px solid black;
  position: relative;
  background-color: white;
}

.wishlist-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist-img-container img {
  width: 50%;
  height: 100%;
  object-fit: contain;
  padding: 2rem;
}

.wishlist-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.x {
  background-color: rgba(212, 212, 212, 0.329);
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 2rem;
}

.x:hover {
  background-color: #731627;
}

.x:active {
  color: white;
}

.price-liked {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: #731627;
}

@media screen and (max-width: 768px) {
  .wishlist-products {
    margin: 20rem 0rem;
    padding: 5rem;
    width: 100%;
  }

  .wishlist-card {
    flex-direction: column;
    width: 100%;
  }

  .wishlist-img-container .wishlist-img {
    width: 50%;
    height: 80%;
    padding: 1rem;
  }

  .wishlist-info-container {
    width: 100%;
    height: 50%;
    padding: 1rem;
  }
}
