/* Layout component */

.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20rem; */
}

.nav-holder {
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(131, 131, 131, 0.63);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.extra-details-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid rgba(218, 216, 216, 0.6);
  background-color: rgba(218, 216, 216, 0.6);
}

.extra-details {
  padding: 0.4rem 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra-details span {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(54, 54, 54);
  padding: 0 2rem;
  text-align: center;
}

nav {
  min-width: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  background-color: white;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

nav ul li {
  list-style: none;
  padding: 1rem;
  /* border: 1px solid black; */
  color: black;
  font-weight: bold;
}

nav ul li:hover {
  background-color: rgba(214, 214, 214, 0.712);
}

.heart-icon,
.cart-icon {
  font-size: 2.2rem;
}

.cart-icon {
  position: relative;
}

.heart-icon {
  position: relative;
}

.bubble-cart, .bubble-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  padding: .9rem;
  border-radius: 50%;
  font-size: 1.3rem;
  background-color: #731627fb;
  color: white;
  font-weight: bold;
}

.no-bubble-cart, .no-bubble-heart {
  display: none;
}

h2,
p {
  text-align: center;
}
