.empty-cart {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 20rem;
}

.your-cart {
  margin: 20rem 0 5rem;
}

.your-cart p {
  font-style: italic;
  color: rgb(102, 102, 102);
}

/* .empty-cart-img {
  border: 1px solid black;
} */

.back-to-products {
  cursor: pointer;
  width: 50%;
  padding: 1rem;
}

.general-cart {
  min-width: 30%;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  background-color: rgba(218, 216, 216, 0.6);
  padding: 2rem;
}

.checkout {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  gap: 2rem;
  padding: 1.5rem;
  background-color: white;
  position: sticky;
  top: 12rem;
}

.basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  /* border: 1px solid black; */
  background-color: white;
}

.cart-card {
  width: 100%;
  height: 100%;
  /* border-top: 1px solid rgba(131, 131, 131, 0.63); */
  display: flex;
  padding: 2rem;
}

.image-holder {
  width: 30%;
}

.image-holder2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cart-img {
  padding: 2rem;
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.cart-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
}

.price-shopping-cart {
  font-size: 2rem;
  font-weight: 800;
  color: #731627;
  letter-spacing: 3px;
}

.colorAndSize {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 50%;
  color: grey;
}

.buttons-cart {
  width: 100%;
}

.delete-cart {
  width: 10%;
  text-align: center;
  text-decoration: none;
  color: #7316278c;
  font-weight: bold;
}

.delete-cart:hover,
.delete-cart:active {
  color: #731627;
}

.quantity-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  height: 5rem;
  width: 7rem;
  padding: 1rem;
  outline-color: #731627;
}

.subtotal-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.delivery-div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.total-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(196, 196, 196, 0.63);
  padding: 1.5rem;
}

.pay-now {
  padding: 1.2rem;
}
