.empty-cart {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.your-cart {
  margin: 3rem;
}

.empty-cart-img {
  border: 1px solid black;
}

.back-to-products {
  padding: 1rem;
  width: 50%;
}

.general-cart {
  min-width: 30%;
  display: flex;
}

.checkout {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  border: 1px solid black;
}

.cart-card {
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(131, 131, 131, 0.63);
  display: flex;
  padding: 2rem;
}

.cart-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.cart-img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.cart-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}

.buttons-cart {
  width: 100%;
}

.delete-cart {
  width: 10%;
  text-align: center;

}

.quantity-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.quantity {
  height: 5rem;
  width: 6rem;
  padding: .5rem;

}
