/* IMAGES FROM PRODUCTS LIST COMPONENT */

.general-products-container {
  margin: 20rem 0 10rem;
  width: 95vw;
  max-width: 1200px;

  /* padding: 2rem 5rem 2rem; */
  /* background-color: rgba(218, 216, 216, 0.6); */
}

.products-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 500px;
  gap: 3rem;
  /* width: 60vw; */
  /* padding: 4rem; */
  background-color: rgba(218, 216, 216, 0.6);

}

.product-card1 {
  text-decoration: none;
  color: black;
}

.product-card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(99, 99, 99, 0.685);
  background-color: white;
}

.product-img-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.heart {
  /* border: 1px solid green; */
  position: absolute;
  top: 0.8rem;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.heart:hover {
  background-color: rgba(221, 221, 221, 0.329);
}

.heart:active {
  color: #731627;
  font-size: 2.5rem;
  padding: 1rem;
}

.new {
  position: absolute;
  background-color: #731627;
  color: white;
  font-weight: 800;
  padding: 0.5rem;
  bottom: 2%;
  left: 0;
}

.product-list-image {
  width: 100%;
  height: 100%;
  padding: 2rem;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  gap: 1rem;
  width: 100%;
  height: 50%;
  border-top: 1px solid rgba(218, 216, 216, 0.6);
  padding: 3rem;
  cursor: pointer;
}

/* With ellipsis, white-space, overflow hidden, I can control the long text */

.info-container .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  /* max-width: 100%; */
}

.info-container .product-price {
  color: #731627;
  font-size: 2rem;
  font-weight: bold;
}

.link {
  position: absolute;
  bottom: 0;
}
