/* PRODUCT DETAILS COMPONENT */

.loading-details {
  font-size: 3rem;
}

.back {
  position: absolute;
  background-color: rgba(187, 187, 187, 0.568);
  color: black;
  font-weight: 800;
  padding: 0.5rem;
  top: 1%;
}

.single-product-container {
  display: flex;
  gap: 2rem;
  border: 1px solid black;
  min-height: 60vh;
  min-width: 20vw;
  max-width: 50vw;
  position: relative;
}

.image-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  position: relative;
}

#product-details-image {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 50%;
  padding: 5rem;
  line-height: 2;
}

.desc-top {
  width: 100%;
  border: 1px solid black;
}

.desc > h2 {
  align-self: self-start;
}

.price-liked {
  letter-spacing: 5px;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(223, 37, 37, 0.781);
}

.supporting-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  position: relative;
}

.supporting-info select {
  height: 50%;
  width: 100%;
  padding: 1rem;
  appearance: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.supporting-info select::after {
  content: "⌄";
}
