/* PRODUCT DETAILS COMPONENT */

.loading-details {
  font-size: 3rem;
}

.back {
  position: absolute;
  background-color: #731627;
  color: white;
  font-weight: 800;
  padding: 0.5rem;
  top: 1%;
  left: 0;
  z-index: 900;
}

.single-product-container {
  display: flex;
  gap: 2rem;
  max-height: 99vh;
  min-width: 10%;
  max-width: 1200px;
  margin-top: 20rem;
}

.image-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  position: relative;
}

#product-details-image {
  width: 50%;
  padding: 1rem;
  object-fit: cover;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
  /* height: 100%; */
  padding: 5rem;
  line-height: 2;
}

.desc-top {
  width: 100%;
  /* border: 1px solid black; */
  margin-bottom: 3rem;
}

.desc-top-title {
  text-align: start;
}

.price {
  letter-spacing: 5px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #731627;
}

.supporting-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.colors-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1.5rem 0.5rem;
  border-top: 1px solid rgba(187, 187, 187, 0.568);
  border-bottom: 1px solid rgba(187, 187, 187, 0.568);
}

.sizes-container {
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
}

.error-warning {
  color: #731627;
}

.supporting-info #sizes {
  height: 100%;
  width: 100%;
  padding: 1.5rem 0.5rem;
  appearance: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border: none;
  border-top: 1px solid rgba(187, 187, 187, 0.568);
  border-bottom: 1px solid rgba(187, 187, 187, 0.568);
  font-weight: bold;
  font-size: 1.3rem;
  outline-color: #731627;
}

.supporting-info select::after {
  content: "⌄";
}

.toggle {
  width: 100%;
  /* overflow: hidden; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.toggle-button {
  width: 100%;
  text-align: start;
  padding: 1.5rem 0.5rem;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid rgba(187, 187, 187, 0.568);
  border-bottom: 1px solid rgba(187, 187, 187, 0.568);
  font-weight: bold;
  font-size: 1.3rem;
}

.caret-desc {
  font-size: 1.8rem;
}

.hide-description {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease; /* hide the description smoothly */
}

.show-description {
  max-height: 100%; /* Adjust based on your content */
  overflow: visible;
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Show the description smoothly */
}

.add-to-cart-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.btn-heart-PD {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: lightgray;
}

.btn-heart-PD {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  padding: 2rem;
}

.btn-heart-PD::after {
  content: "like";
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;

  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  top: 115%;
}

.icon {
  width: 30px;
  height: 30px;
  transition: 0.2s linear;
}

.icon path {
  fill: rgba(0, 0, 0, 0.781);
  transition: 0.2s linear;
}

.btn-heart-PD:hover > .icon {
  transform: scale(1.5);
}

.btn-heart-PD:hover > .icon path {
  fill: #731627;
}

.btn-heart-PD:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}

@media (max-width: 946px) {
  .single-product-container {
    flex-direction: column;
    align-items: center;
    margin: 10rem 0 5rem;
  }

  .image-details-container {
    width: 90%;
    position: relative;
  }

  .back {
    position: absolute;
    width: 10%;
  }
  .desc {
    width: 90%;
  }
}
